* {
  margin: 0;
}
.image__title {
  width: 100%;
  height: 100vh;
}
.brand__name {
  display: flex;
  color: #ffffff;
  font-family: 'Samsung Sharp Sans';
  position: absolute;
  right: 2vw;
  top: 7%;
}
.bespoke-jet {
  margin: 0;
  font-size: 3vw;
  letter-spacing: 3px;
}
.tm {
  font-size: 30px;
}
